
h1{
  color: #CC0066;
  text-align: center;
  font-style: italic;
}
h2{
  color: #FFFFFF;
}
ol{
  color: #00CC66;
}
p{
  color: #FF9900;
  font-family: sans-serif;
}
ul{
  color: #CC66FF;
  font-family: sans-serif;
}
